<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cyou.joiplay.renpy">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:isGame="true"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
        android:hardwareAccelerated="true">

        <activity android:name=".LauncherActivity"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="sensorPortrait"
            android:launchMode="singleTop"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="cyou.joiplay.renpy.PermissionActivity"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleTop"
            android:exported="true"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="cyou.joiplay.renpy.MainActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.joiplay.joiplay.renpy.MainActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round"
            android:name="org.renpy.android.PythonSDLActivity"
            android:label="@string/app_name"
            android:alwaysRetainTaskState="true"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"/>
    </application>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>